/**
 * @fileoverview Styles for the HP MRI data visualization tool. Provides layout control,
 * alignment for images and plots, and consistent theming across the application.
 * @author Benjamin Yoon
 * @date 2024-04-26
 * @version 1.2.1
 */

/* Base layout styles */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  /* black */
}

/* Control panel styles */
.slider-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  max-width: 250px;
  height: 100vh;
  padding: 10px;
  background-color: #aeaeb2;
  /* iOS Gray */
  color: #fff;
  /* white */
  z-index: 9;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

/* Styles for headings inside the control panel */
.slider-container h2 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #6c6c70;
  align-items: center;
}

/* Input range styles within the slider container */
.slider-container input[type="range"] {
  width: 100%;
}

/* Image and plot container */
.image-and-plot-container {
  position: relative;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}

/* Styles for image and plot positioning within their container */
.proton-image,
.plot-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -40%);
  z-index: 1;
}

.proton-image {
  width: 40vw;
  height: auto;
  /* maintain aspect ratio */
}

/* Styling for the plot container */
.plot-container {
  width: 53.5vw;
  height: 40.125vw;
  z-index: 2;
  transform: translate(-72.35%, -71%);
}

/* Button styles */
.button-container,
.reset-button-container,
.icon-button-container,
.get-voxels-button {
  display: inline-block;
  text-align: center;
}

.button-container {
  flex-direction: column;
  align-items: center;
  z-index: 11;
  margin-left: 7.5px;
}

.top-button-group {
  margin-bottom: 2.5px;
}

.bottom-button-group {
  display: flex;
  width: 100%;
}

.reset-button-container {
  margin-left: 10px;
}

.icon-button-container {
  margin: 5px;
  margin-left: 20px;
}

.get-voxels-button {
  border: 2px solid #6c6c70;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: inherit;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
  margin-right: 2.5px;
}

.button,
.icon-button,
.reset-button {
  display: inline-block;
  border: 2px solid #6c6c70;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: inherit;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.button {
  border-radius: 5px;
  width: 22px;
  margin-top: 0px;
}

.button:hover,
.icon-button:hover,
.reset-button:hover,
.get-voxels-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Footer styles */
footer {
  position: fixed;
  left: 50px;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #808080;
  /* gray */
  z-index: 12;
  font-size: 12px;
}

footer a {
  color: #F8F8F8;
  /* off-white */
  text-decoration: none;
}

/* Hover effect for links within the footer */
footer a:hover {
  text-decoration: underline;
}

/* Keyframe animations for branding elements */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Additional styles */
.epsi-radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.slider-threshold {
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9;
  position: fixed;
  top: 25px;
  padding: 0px;
  background-color: inherit;
  cursor: pointer;
  outline: none;
  transition: box-shadow 0.3s ease;
  display: inline-block;
  margin: 5px;
  margin-left: 620px;
  text-align: center;
}

.vertical-slider-container {
  transform-origin: top left;
  left: 50%;
  top: 100%;
}

.image-slice-slider,
.vertical-slider {
  -webkit-appearance: none;
  outline: none;
}

.image-slice-slider {
  width: 100%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 5px;
}

.vertical-slider {
  width: 8px;
  height: 100px;
  background: transparent;
  opacity: 0.7;
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transition: .2s;
  transition: background-color .2s ease;
}

.image-slice-slider::-webkit-slider-thumb,
.vertical-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
}

.image-slice-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 50%;
  margin-top: -6px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.vertical-slider::-webkit-slider-thumb {
  appearance: none;
  height: 102%;
  width: 4px;
  background: #999;
  margin-top: -2px;
}

.image-slice-slider:focus::-webkit-slider-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.image-slice-slider:focus::-moz-range-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.image-slice-slider:focus::-ms-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.vertical-slider:focus::-webkit-slider-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.vertical-slider:focus::-moz-range-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.vertical-slider:focus::-ms-thumb {
  background: #00c7be;
  /* Teal highlight */
}

.epsi-button-text,
.button-text,
.button-text-shift,
.button-text-reset,
.slider-threshold-text {
  color: #6c6c70;
  /* iOS Dark Gray */
  font-size: 15px;
  margin-top: 7.5px;
  display: block;
}

.epsi-button-text {
  margin-left: 7.5px;
}

.button-text-shift {
  margin-top: 2px;
}

.button-text-reset {
  margin-top: 16px;
}

.slider-threshold-text {
  margin-top: 20px;
}

/* Reset button specific styles */
.button-reset {
  width: 30px;
  height: auto;
}

.top-panel {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #aeaeb2;
  /* iOS Gray, systemGray */
  color: white;
  padding: 10px 0;
  padding-bottom: 0px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  /* Shadow to create depth */
}

.slider-under-top-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #aeaeb2;
  /* iOS Gray, systemGray */
  color: white;
  padding-top: 26px;
  padding-bottom: 5px;
  z-index: 9;
  position: fixed;
  top: 90px;
  left: 120px;
  right: 7px;
}

/* Styles for the slider thumb for Mozilla browsers */
.image-slice-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* Styles for the slider thumb for Microsoft browsers */
.image-slice-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 1px solid #999;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.app-content {
  border: 7.5px solid #aeaeb2;
  /* Your preferred border color */
  position: relative;
  /* or absolute, depending on your layout */
  top: 0px;
  /* Height of your top panel */
  height: calc(100vh - 50px + 50px);
  /* 100vh is full viewport height, subtract the top panel height and border width */
  padding-top: 1px;
  /* Space between top border and content */
  box-sizing: border-box;
  /* Includes border in the height calculation */
  z-index: 8;
}

.vertical-slider::-webkit-slider-runnable-track {
  background: #ccc;
  height: 100%;
  width: 8px;
  position: relative;
  /* Allows positioning pseudo-elements */
}

.vertical-slider:active::-webkit-slider-runnable-track::before {
  content: "";
  position: absolute;
  background: #00c7be;
  width: 8px;
  height: 100%;
  /* Set to the same height as the thumb for full coverage */
  left: 0;
  /* Align with the left side of the track */
  bottom: 0;
  /* Align with the bottom of the track */
  z-index: -1;
  /* Ensure it's under the thumb */
}

.vertical-slider::-moz-range-track {
  background: #ccc;
  height: 100%;
  width: 8px;
}

.vertical-slider::-moz-range-progress {
  background: #999;
  height: 100%;
  width: 8px;
}

.vertical-slider:active::-moz-range-progress {
  background: #00c7be;
  /* Change the color below the thumb when active */
}

/* Additional styles for buttons within the top-panel */
.top-panel .button {
  margin: 0 5px;
}

.button-icon {
  width: 40px;
  height: auto;
}

.radio-button-label {
  margin-bottom: 5px;
  /* Spacing between the radio buttons */
  display: block;
  /* Block-level to respect margin-bottom */
}

/* Custom variables for dynamic offset application */
:root {
  --epsi-grid-offset-x: 0px;
  --epsi-grid-offset-y: 0px;
}

.button img {
  width: 100%;
  /* Make the image fill the button */
  height: auto;
}

/* Styles for displaying selected voxels */
.voxel-display {
  position: fixed;
  right: 1vw;
  top: 120px;
  padding: 10px;
  width: 210px;
  z-index: 5;
}

.voxel-display h3 {
  color: #aeaeb2;
  font-size: 1vw;
}

/* Styles for individual voxel data entries */
.voxel-display div {
  font-size: 0.75vw;
  color: #aeaeb2;
  margin-top: 5px;
}

.get-voxels-button {
  margin-bottom: 5px;
}